<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="links">
      <a href="/statistics"> <strong>Statistics</strong></a>
    </div>
    <div class="temp"><p>Temperature: <%= data.temp %> °C</p></div>
    <div class="humidity"><p>Humidity: <%= data.humidity %> %</p></div>
    <div class="Weather"><p>Weather: <%= data.weather %></p></div>
    <div class="Sunrise"><p>Sunrise: <%= data.sunrise %></p></div>
    <div class="Sunset"><p>Sunset: <%= data.sunset %></p></div>
  </body>
</html>
