<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style_overview.css" />
  </head>
  <header>
    <a href="/" class="start"> <strong>Start</strong></a>
    <a href="/statistics" class="statistics"> <strong>Statistics</strong></a>
  </header>
  <body>
    <div class="row1">
      <div>
        <img src="thermomether.png" />
        <p>Temperature: <%= data.temp %> °C</p>
      </div>
      <div>
        <img src="waterdrop.png" />
        <p>Humidity: <%= data.humidity %> %</p>
      </div>
      <div>
        <!--https://stackoverflow.com/questions/8216918/can-i-use-conditional-statements-with-ejs-templates-in-jmvc-->
        <% if (data.weather === "Clear") { %>
        <img src="/weatherIcons/sun.png" />
        <% } else if (data.weather === "Rain") { %>
        <img src="/weatherIcons/rain.png" />
        <% } else if (data.weather === "Clouds") { %>
        <img src="/weatherIcons/cloud.png" />
        <% } else if (data.weather === "Snow") { %>
        <img src="/weatherIcons/snow.png" />
        <% } else if (data.weather === "Mist") { %>
        <img src="/weatherIcons/mist.png" />
        <% } else if (data.weather === "Thunderstorm") { %>
        <img src="/weatherIcons/thunderstorm.png" />
        <% } %>

        <p>Weather: <%= data.weather %></p>
      </div>
    </div>
    <div class="row2">
      <div class="Sunrise">
        <img src="sunrise.png" />
        <p>Sunrise: <%= data.sunrise %></p>
      </div>
      <div class="Sunset">
        <img src="sunset.png" />
        <p>Sunset: <%= data.sunset %></p>
      </div>
    </div>
  </body>
</html>
